{{ define "main" }}
<!-- Copied from layouts/products/single.html -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <!-- product image slider -->
        <div class="product-image-slider">
          {{ range .Params.images }}
          
            {{/* warnf "1 our-builds/single 🟢 : %+v" ( . ) }}
            {{ warnf "2 our-builds/single 🟢 : %T" ( . ) */}}

            {{/* Create the resource from . */}}
            {{/* Fingerprint the resource */}}
            {{/* Create the copy */}}
            {{/* Pass the new resource path to data-image */}}
            {{/* Pass the new resource path to partial "image.html" */}}

            {{ $resourcePath := resources.Get . }}
            {{ $fingerprintedImage := $resourcePath | fingerprint }}
            {{- $imgResource := resources.Copy ($fingerprintedImage.RelPermalink | strings.TrimPrefix (printf "/%s" site.Params.section)) (resources.Get $resourcePath) -}}
            {{ $fingerprintedURL := $imgResource.Permalink }}

            {{/* warnf "3 our-builds/single 🟢 : %+v" $imgResource }}
            {{ warnf "4 our-builds/single 🟢 : %T" $imgResource }}
            {{ warnf "5 our-builds/single 🟢 : %+v" $imgResource.Permalink }}
            {{ warnf "6 our-builds/single 🟢 : %T" $imgResource.Permalink }}
          
            {{ warnf "7 our-builds/single 🟢 : %+v" $fingerprintedURL }}
            {{ warnf "8 our-builds/single 🟢 : %T" $fingerprintedURL */}}
            <div data-image="{{ $fingerprintedURL | absURL }}">
              {{ partial "image.html" (dict "Src" $fingerprintedURL "Alt" "product-image" "Class" "img-fluid w-100" ) }}
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1 class="mb-4">{{ .Title }}</h1>

        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ end }}
